body
{
    color: white;
    background-color: rgb(233, 150, 215);
}
.heading
{
    width: 80%;
    font-size: 22px;
}
#camera
{
    border: 2px_black;
    width: 350px;
    height: 300px;
}
.name_of_objects,#result_object_name,#result_object_accurancy
{
    color: blue;
}